:root {
  font-size: 62.5%;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 5px;
  -webkit-text-stroke: 1px black;
  color: yellow;  
}
  
  h1 {
  font-size: clamp(1rem, 2vw, 2.1rem);
  line-height: 80%;
    
  
}
p {
  -webkit-text-stroke: 1px black;
 font-size: clamp(8rem, 2vw, 16rem);
  line-height: 80%;
  
}

a {
  color: yellow;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
}
  /* unvisited link */
a:link {
  color: yellow;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
}

/* visited link */
a:visited {
  color: yellow;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
}

/* selected link */
a:active {
  color: yellow;
  text-decoration: underline;
  -webkit-text-stroke: 1px black; 
}
}

