:root {
  font-size: 62.5%;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: red;
  
}

.top {
 font-size: clamp(4.5rem, 3vw, 26.5rem);
 color: blue important!;
 line-height: 80%;
 margin-bottom: -2.1rem; /* between paragraphs */
 
 }


p {
 font-size: clamp(4.5rem, 3vw, 26.5rem);
 color: yellow;
 line-height: 80%;
 margin-bottom: -2.1rem; /* between paragraphs */
 
 }

a {
  color: yellow;
  text-decoration: none;
  line-height: 80%;
}
  /* unvisited link */
a:link {
  color: yellow;
  text-decoration: none;
  
}

/* visited link */
a:visited {
  color: yellow;
  text-decoration: none;
  
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
  -webkit-text-stroke: 1px black;
}

/* selected link */
a:active {
  color: yellow;
  text-decoration: underline;
  
}
}

