:root {
  font-size: 62.5%;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  background: red;
  
}


p {
 font-size: clamp(4.5rem, 3vw, 26.5rem);
 line-height: 80%;
 margin-bottom: -2.1rem; /* between paragraphs */
 
 }

h3 {
 font-size: clamp(2.5rem, 3vw, 18.5rem);
 colour: black;
 margin-bottom: -2.1rem; /* between paragraphs */
 
 }

/* default link styles, appropriate for content area */
a {color: yellow; text-decoration: none;}
a:link {color: yellow;}
a:visited {color: yellow;} 
a:hover {color: black;}
a:active {color: yellow;}

/* classed link styles, appropriate for navigation area */
a.nav {color: white; text-decoration: none;}
a.nav:link {color: white;}
a.nav:visited {color: white;}
a.nav:hover {color: black;}
a.nav:active {color: white;}

