.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 325px;
}

.u-section-1 .u-image-1 {
  width: 275px;
  height: 275px;
  margin: 25px auto 0;
}

.u-section-1 .u-image-2 {
  width: 242px;
  height: 24px;
  margin: -181px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 76px;
}

.u-section-2 .u-text-1 {
  width: 560px;
  margin: 25px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-weight: normal;
    text-transform: none;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 117px;
}

.u-section-3 .u-text-1 {
  width: 560px;
  margin: 26px auto;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1047px;
}

.u-section-4 .u-image-1 {
  width: 275px;
  height: 377px;
  margin: 26px auto 0;
}

.u-section-4 .u-text-1 {
  width: 560px;
  margin: 26px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  width: 560px;
  margin: 30px auto 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 350px;
}